body {
  text-align: center;
  font-family: "Times";
  color: green;
}
.content{
  /*background: yellow;*/
  /*color: black;*/
  border-radius: 5px;
  border: 2px solid black;
}
.cabecera{
  color: white;
  display: block;
  background: blue !important;
  margin: 15px;
  padding-top: 10px;
}
.card-header{
  color: black;
  background: rgb(197, 120, 5);
  border-radius: 4px;
}
.card-body{
  color: black;
  display: block;
  text-align: justify;
  margin: 25px;
  margin-bottom: 25px;
  padding-bottom: 25px;
}
